@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 1rem 0;
}

/* Collage styles for about us section on the main page */

.slick-dots li button:before {
  font-size: 12px !important;
}

.slick-dots li {
  width: 10px !important;
  /* margin: 0 !important; */
}

.swiper-slide {
  margin-right: -40px !important;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
